@page
@model InventoryModel
@{
    ViewData["Title"] = "Inventory";
}

<div class="text-center">
    <h1 class="display-4">Inventory</h1>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">

        <form method="post">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">On Hand</th>
                        <th scope="col">Available</th>
                    </tr>
                </thead>
                <tbody v-for="(item, index) in items" :key="index">
                    <tr>
                        <td><input name="item[]" v-model="item.Item"></td>
                        <td><input name="quantity[]" v-model="item.Quantity"></td>
                        <td>{{ item.Available }}</td>
                        <td><button type="button" class="btn btn-secondary"
                                v-on:click="removeItem(index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="4"><input type="submit" value="Save"></td>
                    </tr>
                </tbody>

            </table>
        </form>

    </div>

</div>

@section Scripts {
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    items: @Html.Raw(Model.Json)
                                                                    }
            },
            mounted() {
                this.items.push({ Item: '', Quantity: '' })
            },
            methods: {
                removeItem(index) {
                    // log that we removed an item
                    console.log('removing item at index', index)
                    this.items.splice(index, 1)
                }
            },
            watch: {
                items: {
                    handler: function (newItems) {
                        // append row if last item changed
                        lastitem = newItems[newItems.length - 1]
                        if (lastitem.Item !== '' || lastitem.Quantity !== '') {
                            newItems.push({ Item: '', Quantity: '' })
                        }
                    },
                    deep: true
                }
            }
        }).mount('#app')
    </script>
}
