@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<div class="text-center">
    <h1 class="display-4">Orders</h1>

    <div id="app">

        <form method="post">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input name="item"></td>
                        <td><input name="quantity"></td>
                    </tr>
                    <tr>
                        <td colspan="2"> <input type="submit" value="Save">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

        <form method="post">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody v-for="(item, index) in items" :key="index">
                    <tr class="table-primary">
                        <td>{{ item.Item }}</td>
                        <td>{{ item.Quantity }}</td>
                    </tr>
                    <tr class="table-secondary" v-for="(item, index) in item.Components" :key="index">
                        <td>{{ item.Item }}</td>
                        <td>{{ item.Quantity }}</td>
                    </tr>
                    @* <tr>
                    <td colspan="2"> <input type="submit" value="Save">
                    </td>
                    </tr> *@
                </tbody>
            </table>
        </form>


        <AutoComplete v-model="value" :suggestions="items" @@complete="search" />
    </div>

</div>

@section Scripts {
            <script>
                @* import AutoComplete from 'primevue/autocomplete'; *@
                const { createApp } = Vue

                createApp({
                    data() {
                        return {
                            items: @Html.Raw(Model.Json),
                            search: "x"
                                                                                                                                }
                    },
                    mounted() {
                        this.items.push({ Item: '', Quantity: '' })
                    }
                }).mount('#app')
            </script>
}
